@using System.Globalization
@{
    ViewData["Title"] = "Arragro CMS Management";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow Pro</title>
    <meta name="description" content="TaskFlow Pro - Project Management" />
    <meta name="keywords" content="TaskFlow Project Management" />
    <meta property="og:site_name" content="TaskFlow Pro" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="TaskFlow Pro - Project Management" />
    <meta property="og:title" content="TaskFlow Pro" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="SHORTCUT ICON" href="http://cdn.arragro.com/public/images/favicon.ico" />
    <link rel="stylesheet" href="/dist/main.css" />
</head>
<body>
    <div id="react-app"></div>
    <!-- <div id="react-app"
         asp-prerender-module="ReactApp/boot.tsx"></div> -->

    <script src="/dist/vendor.js"></script>
    <script src="/dist/main.js"></script>
</body>
</html>